<section>

    <!--Presentación asociación-->
    <section data-aos="fade-down" data-aos-duration="6000">

        <!--Quiénes somos-->
        <h1 class = "rancho-fuente centrar-texto size-title"
        
        >
            ¿Quiénes somos?
        </h1>
        <!--Fin Quiénes somos-->
        
        <!--Breve descripción-->
        <article class = "centrar-texto">

            <p class = "roboto-fuente size-width text-center">
                Nos encanta ayudar, en educación, salud, deporte, cultura, acceso a empleo a personas con discapacidad, física, mental, intelectual.
                Capacitaciones en manejo de lenguaje de señas, instrucciones para el manejo del sistema de escritura táctil y lectura para personas siegas, Braille.
                Todos somos diferentes, pero aun así somos humanos con mucho valor.
            </p>

        </article>
        <!--Fin Breve descripción-->

        <!--SVG braille y manos-->
        <picture class = "centrar-texto">

         <!--SVG braille-->
         <img 
         class = "size-svg"
         src = "./assets/content-info/braille.svg" alt="">
         <!--Fin SVG braille-->

         <!--SVG manos-->
         <img 
         class = "size-svg"
         src = "./assets/content-info/manos.svg" alt="">
         <!--Fin SVG manos-->


        </picture> 
        <!--Fin SVG braille y manos-->
       
    </section>
    <!--Fin Presentación asociación-->

    <!--Integrantes-->
    <section
    data-aos="fade-up" data-aos-duration="6000"
    >
      
      <!--Integrantes-->  
      <h1 class = "rancho-fuente centrar-texto size-title">
         Integrantes
      </h1>
      <!--Fin Integrantes-->


      <!--Integrantes fotos-->
      <section class = "centrar-texto">

        <!--Collider Card-->
        <div
        (mouseenter) = "activar_giro_card('Tarjeta 1')"
        (mouseleave) = "desactivar_giro_card('Tarjeta 1')"
        >

            <!--Foto fundadora-->
            <div class = "card-integrante-morado  roboto-fuente"
            
            
            [ngClass] = "{'giro-tarjeta': animacion_card_morado}"

            >

                <img 

                *ngIf = "!animacion_card_morado"
                
                class = "img-integrantes"
                src = "./assets/content-info/fundadora.png" alt="">
                
                <!--Info completa Integrante-->
                <div
                class = "size-info-integrante"
                *ngIf = "animacion_card_morado"
                >

                

                </div>
                <!--Fin Info completa Integrante-->
                
                <!--Breve descripción integrante-->
                <div class = "morado-b-descrip-i">

                <p class = "caveat-fuente size-integrante"
                *ngIf = "!animacion_card_morado"
                >
                    Angela Manrique.
                </p>

                <!--Cargo-->
                <p class = "cargo rancho-fuente size-cargo"
                *ngIf = "!animacion_card_morado"
                >
                    Fundadora
                </p>
                <!--Fin Cargo-->

                </div>
                <!--Fin Breve descripción integrante-->

            </div>
            <!--Fin Foto fundadora-->

        </div>
        <!--Fin Collider Card-->

        
      </section> 
      <!--Fin Integrantes fotos-->

    
    </section>
   <!--Fin Integrantes-->      

   <!--Historias superación-->
   <section>
    
    <app-historias-superacion class = "centrar-texto columnas" >
    </app-historias-superacion>

   </section>
   <!--Fin Historias superación-->

   <!--Últimas noticias-->
   <section>

    <h1 class = "rancho-fuente centrar-texto size-title">
        Últimas noticias
    </h1>
    
    <article>
        <app-noticias class = "centrar-texto">
        </app-noticias>
    </article>


   </section>
   <!--Fin Últimas noticias-->
    

   

</section>
