<main>

    <section class = "box" #box_ts>

        <!--Hojas arriba derecha-->
        <div class = "content-hojas-d"
        
        >

            <div class = "hoja-d1"></div>
            
            <div class = "hoja-d2"></div>

            <div class = "hoja-d3"></div>

        </div>
        <!--Fin Hojas arriba derecha-->


        <!--Hojas izquierda abajo-->
        <div class = "content-hojas-i">

            <div class = "hoja-i1"></div>

            <div class = "hoja-i2"></div>

            <div class = "hoja-i3"></div>

        </div>
        <!--Fin Hojas izquierda abajo-->

        <!--Información o datos principales del landing-->
        <div class = "content-datos">

            <app-datos-landing></app-datos-landing>
            
        </div>
        <!--Fin Información o datos principales del landing-->
       
        
    </section>

    

</main>
