<section class = "centrar_contenido">

    <!--Info error-->
    <article>
        
        <p class = "text-center roboto-fuente">Error</p>
        
        <picture>


            <img class = "icono-error"
            src = "./assets/error-404/error-icono.svg" alt="">

            <img src = "./assets/error-404/404-error.svg" alt="">

            <figcaption class = "text-center roboto-fuente">
                La dirección ingresada no exite.
            </figcaption>   
            

        </picture>

    </article>
    <!--Fin Info error-->

    
    <!--Botón regresar Landing-->
    <article>
        <button 
        routerLink = "/landing"
        pButton pRipple type="button" 
        label = "Regresar" class="p-button-rounded size-button">
        </button>
    </article>
    <!--Fin Botón regresar Landing-->
    

</section>

