article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 65%;
    height: 65%;

    border-radius: .6rem;
    object-fit: cover;
}

.size-nombre{
    font-size: 5rem;
}

p{
    font-size: 1.8rem;
    font-family: 'Roboto';
    width: 60%;
}