<h1 class = "kaushan-fuente text-center size-title">
    Historias inspiradoras
</h1>

<!--Stephen Hakwing-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Stephen Hawking (1942 - 2018)
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/hakwing.jpg" alt="">

    <p
    class = "text-center"
    >
        "Aunque no puedo moverme y tengo que hablar a través de una computadora, en mi mente soy libre."
    </p>

    <p
    class = "text-center"
    >
        “Recuerda mirar arriba, a las estrellas, y no abajo, a tus pies. 
Intenta encontrar el sentido a lo que ves y pregúntate qué es lo que hace que el Universo exista. Sé curioso.
Por muy dificil que te parezca la vida, siempre hay algo que puedes hacer y en lo que puedes tener éxito.
Lo único que cuenta es no rendirse”
    </p>

</div>
<!--Fin Stephen Hakwing-->

<!--Pablo pineda-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Pablo Pineda (1974)
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/pablo_pineda.jpeg" alt="">

    <p
    class = "text-center"
    >
        "Tengo una discapacidad, pero si sólo os fijáis en ella, os perderéis gran parte de mí. Pues soy, ante todo, Pablo Pineda."
        
    </p>

    <p
    class = "text-center"
    >
        Primer ciudadano de europa, con título universitario que tiene Síndrome de Down.
    </p>

   

</div>
<!--Pablo pineda-->


<!--Sujeet Desai-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Sujeet Desai
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/musico.png" alt="">

    <p
    class = "text-center"
    >
        Músico profesional con Sindrome de Down.
        
    </p>

    

   

</div>
<!--Pablo pineda-->


<!--Michael J. Fox-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Michael J. Fox (1961)
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/fox.png" alt="">

    <p
    class = "text-center"
    >
    "De lo malo puede surgir algo bueno"
        
    </p>

    <p
    class = "text-center"
    >
    Famoso actor, reconocido por ser uno de los protagonistas en las películas,
    volver al futuro. Actualmente tiene Parkinson.
        
    </p>

    

   

</div>
<!--Fin Michael J. Fox-->

<!--Adriana Macias-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Adriana Macias Hernández (1978)
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/adriana.jpg" alt="">

    <p
    class = "text-center"
    >
    “El Reto no es ser mejor que los demás, es superarse a uno mismo”
        
    </p>

    <p
    class = "text-center"
    >
    Es una abogada mexicana, nació sin brazos.
        
    </p>

    

   

</div>
<!--Fin Adriana Macias-->

<!--Adriana Macias-->
<div>

    <h1 class = "rancho-fuente size-nombre">
        Marlee Matlin (1965)
    </h1>

    <img 
    src = "./assets/historias-inspiradoras/actriz.jpg" alt="">


    <p
    class = "text-center"
    >
    Actriz estadounidense ganadora de un Premio Oscar, aunque sea sorda.
        
    </p>

    

   

</div>
<!--Fin Adriana Macias-->

