@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    font-family: var(--font-family);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Tamaño título*/
.size-title{
    font-size: 8rem;
}
/*Fin Tamaño título*/

/*Tamaño fuente base*/
:root{
    font-size: 16px;
}
/*Fin Tamaño fuente base*/

/*Fuentes letras*/
.roboto-fuente{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rancho-fuente{
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
}

.kaushan-fuente{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.caveat-fuente{
    font-family: "Caveat", cursive;
    font-weight: 400;
}

/*Fin Fuentes letras*/


/*Estilo citar autor o fuente*/
blockquote{
    font-size: 1.8rem;

    font-family: 'Roboto';
    width:60%;
    margin:50px auto;
    font-style:italic;
    color: #4e4e4e;
    padding: 2rem 30px 2rem 75px;
    border-left:8px solid #92C7CF;
    line-height:1.6;
    position: relative;
    background:#FFF7F1;

    border-radius: 0 1rem 1rem 0;

}
  
blockquote::before{
    font-family:Arial;
    content: "\201C";
    color: #AAD7D9;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
}
  

blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1rem;
}
/*Fin Estilo citar autor o fuente*/


hr{
    border: 0;
    height: .15rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.space{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.space-up{
    margin-top: 3rem;
}

.error-texto{

    animation: rubberBand .9s;
    background: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);
    color: white;
    padding: .7rem;
    border-radius: 2rem;

    min-width: 15em;

    text-align: center;

    font-size: 1.15rem;


}